* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

section.header {
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  height: 500px;
  color: rgb(241, 240, 240);
  padding-left: 25%;
  padding-right: 25%;
}

.header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 30px;
  margin: 0;
}

.header p {
  text-align: center;
  color: rgb(236, 233, 233);
  font-size: 28px;
  font-family: verdana;
}
.header p button {
  background-color: #ffd900c7;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
  color: rgb(77, 72, 72);
  font-weight: bold;
}

.container {
  margin-left: 20%;
  max-width: 250px;
  color: rgb(66, 64, 64);
  padding: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container pre {
  font-family: serif;
}
.container ul {
  width: 300px;
}

.container li {
  margin-bottom: 8px;
}

.container2 {
  background-image: url("../images/testimonial-bg.jpg");
  background-size: cover;
  height: 285px;
  color: rgb(189, 185, 185);
  text-align: center;
  padding-top: 25px;
  margin: 0;
  text-align: center;
  position: relative;
}

.container2 #signup {
  background-color: #ffd900c7;
  height: 100px;
  padding: 20px 20px;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.container2 button {
  padding: 8px 26px 8px 26px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  margin-left: 40px;

  background-color: rgba(51, 48, 48, 0.877);
  color: beige;
}

.footer {
  background-color: rgba(51, 48, 48, 0.877);
  max-height: 300px;
  margin-top: 0;
  text-align: center;
  padding-left: 100px;
}

.footer h2 {
  color: #ffd900c7;
  margin: 0;
}

.footer #image2 {
  margin-left: 20px;
}

.footer p {
  color: rgb(29, 28, 28);
}
