@import url("https://fonts.googleapis.com/css?family=Poiret+One");
body {
  font-family: "Poiret One", sans-serif;
}
h1 {
  text-align: center;
  color: blue;
  font-size: 36px;
}

h2 {
  text-align: center;
  color: #f700ff;
  margin: 30px;
}

p {
  text-align: center;
  color: blue;
  margin: 36 px;
}

img {
  width: 200px;
  align: left;
}
span {
  color: crimson;
}
div {
  border: solid 5px Violet;
  width: 8o%;
  margin: auto;
  padding: 5px;
}

legend {
  font-style: italic;
  color: deepskyblue;
  font-weight: bold;
}

iframe {
  text-align: center;
}
/*---------------------------------*/

footer {
  width: 100%;
  margin-top: 50px;
}
footer .sociales {
  background:#f700ff
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}