* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

header {
  height: 100px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

.main {
  text-align: center;
  padding: 1em 2em;
  font-size: 17px;
  border: 2px solid black;
  background: lightcyan;
}

.main h2 {
  border-bottom: 1px black solid;
}

.resultado {
  width: 200px;
  margin: 0 auto;
  padding: 1%;
}

#calcu {
  border: 1px solid black;
  padding: 1em 2em;
  font-size: 17px;
  background: white;
}

footer {
  align-items: center;
  font-size: 15px;
  font-weight: 900;
}

footer span {
  color: red;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: lightcoral;
}

/* Botón */
.button {
  padding: 1em 2em;
  font-size: 17px;
  background: transparent;
  border: none;
  position: relative;
  color: black;
  z-index: 1;
}

.button::after,
.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: lightblue;
  border-radius: 50px;
}

.button::after {
  transform: translate(0px, 0px);
  width: 10px;
  height: 10px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button:hover::before {
  transform: translate(5%, 20%);
  width: 10px;
  height: 10px;
  color: black;
}

.button:hover::after {
  border-radius: 50px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
