* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

h2 {
  text-align: center;
}

.resultado {
  width: 200px;
  margin: 0 auto;
  padding: 1%;
}

footer {
  align-items: center;
  font-size: 15px;
  font-weight: 900;
}

footer span {
  color: red;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: lightcoral;
}
