node_modules
.vscode
.DS_Stores
daniel-vega/semana-2/cookie-recipe/starter-code/
daniel-vega/semana-2/fan-fiction-cv/CVDarthVader_rev8-page-001.jpg
daniel-vega/semana-2/fan-fiction-cv/otacon.jpeg
daniel-vega/semana-2/fan-fiction-cv/ot-fi.webp
daniel-vega/semana-2/fan-fiction-cv/TO-DOs
