:root {
  --darkcyan: hwb(192 0% 82%);
  --pink: hsl(322, 100%, 66%);
  --white: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
picture {
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.superior {
  background: url(images/bg-hero-desktop.svg);
  padding: 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}
body {
  margin: 0 auto;
  max-width: 100%;
  width: 1440px;
}
button {
  background: white;
  padding: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 30px;
  width: 9rem;
  font-style: bold;
  box-shadow: 0.11rem 0.11rem 0.22rem grey;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}
.btn2 {
  background: hsl(322, 100%, 66%);
  width: 14rem;
  color: white;
  padding: 0.7rem;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}
.btn3 {
  background: hsl(322, 100%, 66%);
  width: 18rem;
  color: white;
  padding: 0.7rem;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}
.wrapper {
  display: flex;
  justify-content: space-center;
  align-items: center;
  border: 0.07rem solid;
  border-radius: 10px;
  margin: 2rem;
  box-shadow: 0.22rem 0.22rem 0.44rem grey;
  padding: 2rem;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}
.wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}
div > picture > img {
  width: 100%;
  padding: 3rem;
}
footer > div > picture > img {
  margin-bottom: 4rem;
  background-color: wheat;
  margin-left: auto;
}
footer > div > div > .icons {
  display: flex;
  justify-content: left;
}
footer > div > div > ul {
  margin: 0px;
  text-align: left;
}
footer > div p {
  margin-top: 0px;
}
footer > div > div > .icons img {
  margin-left: 4rem;
  margin-right: 2rem;
}
footer > div > div:last-child {
  display: flex;
  width: 7%;
  justify-content: space-between;
  align-items: flex-start;
}
footer > p {
  text-align: end;
  margin-right: 3rem;
  padding: 3rem;
}
.icons picture img {
  width: 15%;
}
footer {
  background-color: var(--darkcyan);
}
.icons {
  display: flex;
  width: 15rem;
  align-items: flex-start;
}
footer > div {
  display: flex;
  justify-content: space-evenly;
}
div li {
  margin-bottom: 1rem;
}
footer {
  padding-top: 10rem;
  position: relative;
  bottom: 4rem;
  z-index: -5;
  color: white;
}
ul {
  list-style: none;
}
footer > picture > img {
  margin-left: 9rem;
  margin-bottom: 2rem;
  filter: invert(1) hue-rotate(180deg) contrast(2);
}
.ready {
  display: flex;
  padding: 2rem;
  width: 28rem;
  border: 0.07rem solid;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0.11rem 0.11rem 0.11rem grey;
  padding: 2rem;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}
.fa-brands {
  background-color: var(--darkcyan);
  border: 0.5px solid;
  border-radius: 50%;
}
@media only screen and (max-width: 475px) {
  body {
    width: 100%;
    min-width: 375px;
    text-align: center;
  }
  .btn2 {
    width: 14rem;
    color: white;
    padding: 0.7rem;
  }
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  header > picture {
    width: 30%;
  }
  .superior > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer > div {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  footer > div > div:first-child {
    margin-bottom: 4rem;
  }
  footer > div > div > .icons img {
    margin-left: 1.5rem;
  }
  footer > div > div > ul {
    margin: 0px;
    text-align: left;
    padding-left: 1.5rem;
  }
  footer > div > div:last-child {
    width: 100%;
    justify-content: center;
    margin-top: 2.5rem;
  }
  .fa-brands {
    margin: 0.2rem;
  }
  footer > p:last-child {
    size: 14px;
  }
  header > button {
    width: 7rem;
    font-size: small;
    padding: 0.1rem;
  }
  .flowing {
    flex-direction: column;
  }
  footer > picture > img {
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    filter: invert(1) hue-rotate(180deg) contrast(2);
  }
}
