* {
  box-sizing: border-box;
}
<html>

<body>

<table border="2" solid black; align="center" width="800">
<tr>
<h1 colspan = "7" bscolor: black = "BurlyWood"> Galletas de Chocolate Star Wars </ h1>
</tr>
   p {
    background-color: #ffe;
    font-family: sans-serif;
    
  }
   </body>

   </html>

