body {
  background-color: #ffe;
}
a {
  color: #900;
}
h1 {
  font-style: serif;
}
h2,
p,
ul,
ol,
h3 {
  font-style: sans-serif;
  margin-left: 20px;
}
.grey {
  color: #887;
}
body {
  text-align: rigth 10px;
}
body {
  border: solid black;
}
img {
  border: solid black;
}
body {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  max-width: 800px;
}
img {
  margin-left: 10px;
}
