root {
  --casi-negro: #121212;
  --yellow: #f9e42e;
  --dark-blue: #033048;
  --blanco: #f0efef;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

main {
  max-width: 80%;
  margin: 0 auto;
}

header {
  background-color: var(--dark-blue);
}

h1 {
  color: var(--blanco);
  font-weight: 800;
  font-size: 40px;
}

li a {
  color: var(--yellow);
  text-decoration: none;
}

.container-ul-header > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

.container-footer {
  background-color: var(--casi-negro);
}

footer h2 {
  color: var(--yellow);
  font-weight: 800;
  font-size: 40px;
  text-align: center;
}

.container-footer section ul {
  display: flex;
  flex-direction: row;
  margin-left: 610px;
  column-gap: 50px;
}

footer p {
  text-align: center;
  color: var(--blanco);
}

.sign-up-now a {
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  color: var(--blanco);
  background-color: var(--dark-blue);
  text-decoration: none;
  margin-left: 480px;
  padding: 10px 50px;
}

.background-yellow {
  background-color: var(--yellow);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.read-more {
  text-align: end;
  font-weight: 600;
  font-size: 24px;


