footer {
  display: flex;
  align-items: center;
  background-color: var(--startup-black);
  color: var(--startup-white);
  font-size: 0.8em;
  font-weight: var(--medium);
  padding: 0.8rem 7.5rem;
}
footer span {
  color: var(--startup-red);
}
