:root {
  /* Colors */
  --startup-alpha-black: rgba(0, 0, 0, 0.2);
  --startup-alpha-white: rgba(255, 255, 255, 0.8);
  --startup-black: black;
  --startup-darkgrey: #aaa;
  --startup-grey: #c6c6c6;
  --startup-red: red;
  --startup-white: white;
  --startup-yellow: yellow;
  /* Font Weigh */
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
  --ultra-black: 950;
}
footer {
  background-color: var(--startup-black);
  color: var(--startup-white);
  display: flex;
  align-items: center;
  padding: 1em 12vw;
}
footer span {
  color: var(--startup-red);
}
