footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--startup-black);
  color: var(--startup-white);
  display: flex;
  align-items: center;
  padding: 1em 12vw;
}
footer span {
  color: var(--startup-red);
}
