header div {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.4em 150px 0.2em 150px;
  background-color: var(--startup-black);
  border-bottom: 3px solid var(--startup-yellow);
}
header h1 {
  width: 1200px;
  color: var(--startup-yellow);
  font-family: 'Merriweather';
  font-size: 30px;
}
header nav {
  width: 50vw;
  display: flex;
  justify-content: center;
  /* padding-top: 0.5em; */
  padding-left: 10em;
  color: var(--startup-white);
}
header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  list-style-position: inside;
  justify-content: left;
  align-items: center;
}
.menu {
  font-family: 'oswald';
  margin-right: 1em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: var(--bold);
}
.sub-menu {
  margin-right: 1.2em;
  font-size: 14px;
}
.dev-sub-menu {
  visibility: collapse;
}
