* {
  box-sizing: border-box;
}

body {
  background-color: #ffe;
  font-family: sans-serif;
  border-style: solid;
  max-width: 800px;
  margin: auto;
}

td {
  font-family: serif;
  text-align: center;
}

p {
  color: #887;
  font-style: italic;
  margin-left: 20px;
}

img {
  border-style: solid;
  display: block;
  max-width: 80%;
  margin: auto;
}
