/* COLORS */
/* #### Primary ####  */
/* #### Neutral #### */
/* footer */
footer {
  display: flex;
  justify-content: flex-start;
  background-color: hsl(201deg, 11%, 66%);
  font-size: 12px;
  width: 100%;
}

footer picture img {
  width: 4.5rem;
  margin: 2rem;
  padding: 1rem;
}

footer ul li {
  list-style: none;
  padding: 1rem;
}

footer ul li a {
  justify-content: space-between;
  color: hsl(210deg, 10%, 33%);
  text-decoration: none;
  font-weight: 400;
}

.socialIcons {
  list-style: none;
  color: hsl(210deg, 10%, 33%);
  font-size: 20px;
  position: relative;
  left: 4rem;
  top: 2rem;
}

.socialIcons ul li {
  display: inline;
}

footer a:hover {
  color: hsl(171deg, 66%, 44%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/* COLORS */
/* #### Primary ####  */
/* #### Neutral #### */
/* ### Typography ### */
/* #### Fonts #### */
/* - Family: Bai Jamjuree */
/* -Weights: 400, 600 */
/* Header */
header {
  display: block;
  justify-content: center;
  /*   display: flex; */
  /*   align-items: center; */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(255, 255, 255)), url(../../images/bg-header-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  padding-top: 1.25rem;
}

header div {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.logo-header {
  display: flex;
  justify-content: center;
}

/* COLORS */
/* #### Primary ####  */
/* #### Neutral #### */
/* ### Typography ### */
/* #### Fonts #### */
/* - Family: Bai Jamjuree */
/* -Weights: 400, 600 */
/* Contenido */
h1,
h2,
h3 {
  font-weight: 600;
}

p {
  color: hsl(201deg, 11%, 66%);
  font-weight: 400;
}

.download {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 1.25rem 13rem;
}

.keep {
  display: block;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.search picture img {
  position: relative;
  left: -15%;
}

.search-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.search-text h3 {
  align-items: center;
}

.access {
  width: 50%;
  margin: 0 auto;
}

/* LOGOS */
.logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  padding: 1.25rem;
}

.div1 {
  grid-area: 1/1/2/3;
  width: calc(40% - 1.25rem);
  margin: 0 auto;
}

.div2 {
  grid-area: 1/3/2/4;
  width: calc(100% - 1.25rem);
  margin: 0 auto;
}

.div3 {
  grid-area: 1/4/2/6;
  width: calc(40% - 1.25rem);
  margin: 0 auto;
}

.div4 {
  grid-area: 2/1/3/2;
}

.div5 {
  grid-area: 2/2/3/3;
}

.div6 {
  grid-area: 2/3/3/4;
}

.div7 {
  grid-area: 2/4/3/5;
}

.div8 {
  grid-area: 2/5/3/6;
}

.div1 img {
  width: 25%;
  margin: 0 auto;
}

.div2 img {
  width: 25%;
  margin: 0 auto;
}

.div3 img {
  width: 25%;
  margin: 0 auto;
}

/* FINAL GRIP  */
.clip {
  width: 60%;
  margin: 0 auto;
}

.clip h2,
p {
  align-items: center;
  text-align: center;
}

/* Botones */
button {
  border: 1px hsl(171deg, 66%, 44%) solid;
  background-color: hsl(171deg, 66%, 44%);
  border-radius: 1em;
  color: white;
  padding: 0.5em 2em;
  -webkit-box-shadow: 2px 3px 5px 0px hsl(210deg, 10%, 33%);
  box-shadow: 2px 3px 5px 0px hsl(201deg, 11%, 66%);
}

button:last-of-type {
  border: 1px hsl(233deg, 100%, 69%) solid;
  background-color: hsl(233deg, 100%, 69%);
}

button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
