* {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --alpha-black: rgba(0, 0, 0, 0.2);
  --alpha-white: rgba(255, 255, 255, 0.8);
  --Black: black;
  --darkgrey: #aaa;
  --grey: #c6c6c6;
  --red: red;
  --white: white;
  --yellow: yellow;
}
/* Requirements
Content not wider than 1280px
Padding 20px;
Font size 20px
Mobile breakpoint 740px */

@media only screen and (max-width: 740px) {
  .dev {
    flex-direction: row;
  }
}

.container {
  max-width: 1280px;
  margin: 0;
  padding: 20px;
}

header {
  width: 100%;
  text-align: center;
  height: 150px;
  line-height: 150px;
  background-color: var(--Black);
  color: var(--white);
  border-bottom: var(--yellow) solid 2px;
}

header h1 {
  width: 50%;
  float: left;
}

nav {
  width: 50%;
  float: left;
  flex-direction: row-reverse;
}

nav ul li {
  float: right;
  list-style: none;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  margin: 20px;
  color: var(--alpha-white);
}

.clearfix {
  clear: both;
}

.subtittle {
  text-align: center;
  background-color: var(--darkgrey);
  height: 30px;
  line-height: 30px;
}

.subtittle span:first-of-type {
  color: var(--grey);
}

.subtittle span:last-of-type {
  color: var(--yellow);
}

.hero {
  background-image: url(../images/startup-bg.jpg);
  background-position: 5%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.box {
  float: right;
  width: 50%;
  justify-content: right;
  background-color: var(--white);
  opacity: 0.5;
  margin: 10px auto;
}

.inside {
  color: var(--Black);
}

.dev {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 0px;
  flex-direction: row-reverse;
}

button {
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--yellow);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: var(--Black);
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  width: 80%;
}

footer {
  height: 50px;
  line-height: 50px;
  text-align: left;
  background-color: var(--Black);
  color: var(--white);
  padding: 20px;
}

footer span {
  color: var(--red);
}
