@import url(./740px.css);

html {
  font-size: 20px;
}

body * {
  max-width: 1280px;
  box-sizing: content-box;
}

body {
  font-family: "Source Sans Pro";
  background-color: var(--startup-black);
  display: flex;
  justify-content: center;
}

:root {
  --alpha-black: rgba(0, 0, 0, 0.2);
  --alpha-white: rgba(255, 255, 255, 0.8);
  --Black: black;
  --darkgrey: #aaa;
  --grey: #c6c6c6;
  --red: red;
  --white: white;
  --yellow: yellow;
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
  --ultra-black: 950;
}
/* Requirements
Content not wider than 1280px
Padding 20px;
Font size 20px
Mobile breakpoint 740px */

.content {
  margin: 0 auto;
  /*   padding: 1.25rem; */
}

header {
  width: 100%;
  text-align: center;
  height: 150px;
  line-height: 100px;
  background-color: var(--Black);
  color: var(--white);
  border-bottom: var(--yellow) solid 2px;
}

header {
  margin: 0;
}
header > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1.44rem;
  background-color: var(--startup-black);
  border-bottom: 3px solid var(--startup-yellow);
}
header .title,
header nav {
  display: flex;
  width: 50%;
  text-align: center;
}
header .title {
  justify-content: center;
}
header h1 {
  margin: 0;
  color: var(--white);
  font-family: "Merriweather";
  font-size: 1.5rem;
}
header nav {
  visibility: visible;
  display: flex;
  padding-left: 2rem;
  justify-content: left;
  align-items: center;
  color: var(--white);
}
.btn-menu {
  visibility: collapse;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--black);
  color: var(--startup-white);
  border-style: none;
  height: 2.5rem;
  font-size: 2rem;
}
.menu {
  font-family: "oswald";
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: var(--extra-bold);
}
nav button {
  background-color: var(--startup-black);
  color: var(--white);
  border-style: none;
  margin-right: 0.5rem;
}
.btn-menu:hover,
nav button:hover {
  color: var(--yellow);
}
header ul {
  margin: 0.6rem 0;
  margin: 0;
  padding: 0;
  visibility: collapse;
  display: none;
  flex-flow: row nowrap;
  list-style: none;
  list-style-position: inside;
  justify-content: left;
  align-items: center;
  font-size: 0.75rem;
  font-weight: var(--extra-bold);
}

.clearfix {
  clear: both;
}

.subtittle {
  text-align: center;
  background-color: var(--darkgrey);
}

.subtittle span:nth-of-type(1) {
  text-decoration: line-through;
  color: var(--grey);
}

.subtittle span a {
  color: var(--yellow);
}

/* Botones */
button {
  background-color: var(--yellow);
  height: 2.1rem;
  width: 100%;
  margin-top: 0.6rem;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 0.8rem;
  border-radius: 5px;
}
button:hover {
  color: var(--red);
}

.hero {
  background-image: url(../images/startup-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -5.9rem;
}

.box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.box2 {
  background-color: var(--white);
  opacity: 0.5;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.meet-match {
  position: static;
  display: flex;
  width: 95%;
  margin-bottom: 1rem;
}

.inside {
  color: var(--Black);
}

.dev {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: var(--startup-white);
}

footer {
  display: flex;
  align-items: center;
  background-color: var(--Black);
  color: var(--white);
  font-size: 0.8em;
  font-weight: var(--medium);
  padding: 0.8rem 7.5rem;
}

footer span {
  color: var(--red);
}
