body {
  background-color: #ffe;
  border: 4px black solid;
}
div {
  width: 800px; /* could be any number or unit*/
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: serif;
}
h2 {
  font-family: sans-serif;
}
h4 {
  color: #887;
}
a {
  color: #900;
}
img {
  border: 3px black solid;
}
