@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #121212;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  color: #f0efef;
}
.relaxr {
  background-image: url("../images/header-bg.jpg");
  background-repeat: repeat-x;
  background-repeat: repeat-y;
}

.benefits {
  background-color: #f0efef;
}

.cite {
  background-image: url("../images/testimonial-bg.jpg");
  background-repeat: repeat-x;
  background-repeat: repeat-y;
}

blockquote {
  font-family: "Light Italic";
  font-size: 18px;
  color: lightgrey;
  font-style: italic;
}

.sign-up-now {
  background-color: #f9e42e;
}

.footer-relaxr {
  background-color: #606161;
}

.footer-relaxr li {
  display: inline;
  padding-left: 215px;
}

.relaxr p {
  font-weight: 600;
  font-size: 24px;
  color: #f0efef;
  margin-left: 50px;
}

.benefits h2 {
  font-weight: 600;
  font-size: 20px;
  margin-left: 15px;
}

.relaxr a {
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  color: #033048;
  background-color: #f9e42e;
  text-decoration: none;
  margin-left: 200px;
  padding: 10px 50px;
}

.sign-up-now a {
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  color: #f0efef;
  background-color: #033048;
  text-decoration: none;
  margin-left: 200px;
  padding: 10px 50px;
}

.amanda {
  font-weight: 600;
  color: #f0efef;
  font-size: 18px;
  margin-left: 70px;
}

.texto-cite {
  font-size: 18px;
  font-weight: 300;
}

.footer-relaxr h2 {
  color: #f9e42e;
  margin-left: 250px;
  font-weight: 700;
  font-size: 24px;
}

.footer-relaxr p {
  font-weight: 600;
  font-size: 9px;
  color: #f0efef;
  margin-left: 240px;
}

.relaxr h1 {
  margin-left: 15px;
}

.benefits ul {
  margin-left: 50px;
  padding-left: 50px;
}

.benefits p {
  margin-left: 50px;
}

.cite blockquote {
  margin-left: 150px;
}
