* {
  box-sizing: border-box;
}

:root {
  --base-space: 1.25rem;
}

html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  padding: 0 var(--base-space);
}

picture {
  display: block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  gap: var(--base-space);
  justify-content: space-between;
}
.countries > * {
  flex-basis: 100%;
  border: 2px solid;
  padding: 0 var(--base-space) var(--base-space);
  max-width: calc(25% - calc(3 * var(--base-space)));
}
