div.cont-principal {
  background-color: white;
  width: 950px;
  border: solid lightblue;
  font-family: roboto;
  display: flex;
  height: 100%;
  margin: auto;
}

div.cont-izquierda {
  background: lightblue;
  padding: 10px;
  width: 30%;
  text-align: center;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: solid white 1px;
}

th {
  padding: 8px;
  background-color: white;
}

td {
  background: rgb(201, 223, 231);
  text-align: left;
  padding: 8px;
}

td:nth-child(1) {
  font-weight: bold;
}

img.perfil {
  width: 80%;
  border-radius: 20%;
  border: 2px solid black;
}

div.cont-derecha {
  background: white;
  float: right;
  width: 65%;
}

div.cont-superior {
  background-color: white;
  text-align: center;
  padding: 10px;
}

div.informacion {
  background-color: white;
  margin-left: 20px;
}

img.icono {
  max-width: 20px;
  float: left;
  padding-right: 5px;
  margin-top: 0px;
}

img {
  max-width: 100%;
}

hr {
  border: 1px solid lightblue;
}

li {
  margin: 8px;
}

h1,
h2 {
  font-weight: 300;
  margin: 0px;
}

h1 {
  font-size: 60px;
}

h3,
h4 {
  font-weight: 500;
  margin: 0px;
}
