body {
  background-color: #ffe;
  max-width: 800px;
  margin: 0 auto !important;
  float: none !important;
  border-color: black;
  border-style: double;
}

h1 {
  color: blue;

  border: 1px black solid;
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

/* unvisited link */
a:link {
  color: #900;
}

img {
  border-color: black;
  border-style: solid;
  width: 600px;
}
