* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f0efef;
  /* max-width: 1200px;
  margin: 0 auto; */
}

header {
  background-color: #033048;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2,
h3,
h4 {
  background: url(../images/header-background.jpg);
  background-size: 100%;
}

h1 {
  color: white;
  margin-left: 10%;
}

nav {
  margin-right: 10%;
}

nav li {
  display: inline;
  padding: 0 20px;
}

main {
  max-width: 90%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  gap: 20px;
}

.main-column {
  width: 700px;
}

.sidebar {
  width: 240px;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  color: #033048;
}

.article-text {
  font-weight: 300;
  font-size: 24px;
  color: #606161;
  padding-bottom: 20px;
}

.article-text::first-letter {
  font-size: 75px;
  font-weight: 600;
  float: left;
  margin: 0.1em 0.1em 0.1em 0;
  line-height: 0.65;
}

article {
  border-bottom: 1px solid #033048;
  padding-bottom: 50px;
}

h3 {
  font-weight: 800;
  font-size: 32px;
  color: #033048;
}

.sidebar ul {
  font-weight: 300;
  font-size: 24px;
  color: #033048;
  list-style-type: none;
  padding-left: 5px;
}

div p {
  font-weight: 300;
  font-size: 22px;
  color: #033048;
}

.sidebar div {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  background-color: #121212;
  margin-top: 100px;
}

.button-div {
  background: #f9e42e;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 12px;
  font-weight: 800;
  color: white;
  border-radius: 5px;
  border-style: none;
  background-color: #033048;
  padding: 10px 40px;
}

h4 {
  font-size: 24px;
  font-weight: 800;
  color: #f9e42e;
}

footer p {
  margin: 0;
  color: white;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.socials-container img {
  margin: 0 20px;
}

/* Estilizado de los enlaces */

a {
  text-decoration: none;
}

h1 a {
  color: white;
}

ul a {
  font-weight: 600;
  font-size: 24px;
  color: #f9e42e;
  list-style-type: none;
  text-decoration: none;
}

ul a:hover {
  color: white;
}

div a {
  font-weight: 600;
  font-size: 22px;
  color: #033048;
  text-decoration: none;
}

.article-links {
  font-weight: 600;
  font-size: 24px;
  color: #033048;
  text-decoration: none;
  float: right;
}

/* Popup con modal */
.modal-container {
  background: rgb(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: center;
}

.modal p {
  color: black;
  padding-bottom: 10px;
}
