* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
}
@font-face {
  font-family: poppin;
  src: url(./fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: sanse;
  src: url(./fonts/static/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: paraf;
  src: url(./fonts/static/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf);
}

p {
  font-family: paraf;
}
button {
  font-family: sans;
}
.header {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: lightblue;
  background-image: url("./images/bg-hero-desktop.svg");
  background-repeat: repeat-x;
  background-size: cover 500px;

  padding: 20px;
}
.header h1,
h2 {
  font-family: poppin;
}
.header .item2 {
  text-align: right;
  margin-right: 10%;
}
.item2 button {
  padding: 8px 14px;
  border-radius: 15px;
}
.item3 button {
  background-color: hsl(322, 100%, 66%);
  border-radius: 15px;
  padding: 12px 50px;
}
.main {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px 20px;
}
.main img {
  width: 80%;
}
.footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 20px;
  background-color: hsl(192, 100%, 9%);
}
.footer .item11 {
  color: white;
  grid-column-start: 1;
  grid-column-end: 6;
}
.footer ul {
  list-style: none;
}
.footer li {
  margin-bottom: 10px;
}
ul li#first {
  list-style-image: url("../images/icon-location.svg");
  list-style-position: outside;
}
ul li#sec {
  list-style-image: url("../images/icon-phone.svg");
  list-style-position: outside;
}
ul li#third {
  list-style-image: url("../images/icon-email.svg");
  list-style-position: outside;
}
.footer li a:link,
.footer li a:visited {
  text-decoration: none;
  color: hsl(208, 11%, 55%);
}
.footer .item15 a {
  text-decoration: none;
}
.footer .item15 a:not(:last-of-type) {
  margin-right: 20px;
}
.item16 {
  color: hsl(208, 11%, 55%);
  grid-column-start: 1;
  grid-column-end: 5;
}
.item16 p {
  text-align: right;
}

.lastmain {
  position: relative;
  margin-bottom: 50px;
}
.lastmain > .position {
  position: absolute;
  left: 30%;
  top: 300px;
  color: ;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
  opacity: 1;
  background-color: white;
}
.position button {
  background-color: hsl(322, 100%, 66%);
  padding: 12px 18px;
  text-decoration: center;
  border-radius: 15px;
  color: white;
}
.position p {
  text-align: center;
}
@media only screen and (max-width: 375px) {
  .header,
  .footer {
    grid-template-columns: 100%;
    text-align: center;
    column-gap: 10px;
    position: relative;
  }
  .position {
    display: none;
  }
  .col {
    width: 100%;
  }
  .item1 {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .item2 {
    position: absolute;
    top: 20px;
  }
  .item4 {
    width: 100%;
  }
  .footer .col {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .item16 p {
    text-align: center;
  }
  .item11 {
    text-align: center;
  }
}
