/* COLORS */
/* #### Primary ####  */
$StrongCyan: hsl(171, 66%, 44%);
$LightBlue: hsl(233, 100%, 69%);
/* #### Neutral #### */
$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);

/* ### Typography ### */
/* #### Fonts #### */
/* - Family: Bai Jamjuree */
/* -Weights: 400, 600 */

/* Header */
header {
  display: block;
  justify-content: center;
  /*   display: flex; */
  /*   align-items: center; */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgb(255, 255, 255)
    ),
    url(../../images/bg-header-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  padding-top: 1.25rem;
}

header div {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.logo-header {
  display: flex;
  justify-content: center;
}
