* {
  box-sizing: border-box;
}
 

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f0efef;
}

/* css header */
header{
  background-color: #033048;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 24px;
  
}
.barranav1{
  display: inline;
  margin-left: 50px;
  padding-left: 20px;
  padding-right: 20px;
  
   

}
 .barranav1 a{
  display: inline-block;
  color:#f9e42e;
  list-style: none;
  padding-left: 30px;
  padding-right: 0px;
  margin-left: 150px;
  text-align: center;
  
}

a:hover {
  color: red;
}

  h2{
  margin-left: 150px;
  color :#f0efef; 
  margin-left: 150px;
  text-align: center;
 }

/* css main  */

main{
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  background-color: rgb(244 241 238);
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 80px;
}
main h2{
  color: #033048;
  text-align:left;
}

