footer {
  width: 100%;
  padding: 12rem 3rem 3rem 5rem;
  background-color: var(--huddle-dark-blue);
  color: var(--huddle-verypale-cyan);
}
footer a {
  text-decoration: none;
  color: var(--huddle-verypale-cyan);
}
footer .logo {
  width: 100%;
  padding-left: 2rem;
  padding-bottom: 0.8rem;
}
footer .logo img {
  width: 18%;
  filter: invert(100%) saturate(0) brightness(200%);
}
.footer-container {
  display: flex;
  flex-flow: row nowrap;
}
.footer-container ul {
  width: 33.33%;
}
.contact {
  display: flex;
  flex-flow: column nowrap;
}
.contact li {
  display: flex;
  flex-flow: row nowrap;
  margin: 0.8rem 0;
}
.contact li p {
  margin: 0;
  width: 22rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.contact li img {
  width: 1.2rem;
  height: 1rem;
  margin-right: 1rem;
}
.contact li:first-of-type img {
  width: 0.8rem;
  height: 1.2rem;
}

.footer-navigation {
  margin: 2rem 8rem 0 5rem;
  display: flex;
  flex-flow: column wrap;
  height: 10rem;
}
.footer-navigation li {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  width: 14rem;
}
footer ul {
  list-style: none;
}
.social {
  display: flex;
  flex-direction: row;
  padding-top: 0.4rem;
}
.social li {
  border: 1px solid var(--huddle-verypale-cyan);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-link:hover {
  text-decoration: underline;
}
.social li:first-of-type img {
  width: 0.6rem;
}
.social img {
  /* color: var(--huddle-verypale-cyan); */
  /* color: var(--huddle-pink); */
  width: 0.9rem;
  filter: invert(100%);
}
.social li:hover {
  border: 1px solid var(--huddle-pink);
  filter: invert(35%) brightness(60%) sepia(1) hue-rotate(260deg) saturate(200%);
}
footer > div:last-of-type {
  padding: 0.2rem 1.5rem;
  font-size: 0.8rem;
  text-align: right;
}
