@import url(./footer.css);
@import url(./index-m375.css);
* {
  box-sizing: border-box;
}
:root {
  /* Color */
  --huddle-pink: hsl(322, 100%, 66%);
  --huddle-bright-pink: hsl(322, 100%, 80%);
  --huddle-verypale-cyan: hsl(193, 100%, 96%);
  --hudele-grayish-blue: hsl(208, 11%, 55%);
  --huddle-white: hsl(0, 0%, 100%);
  --huddle-dark-blue: hsl(192, 100%, 9%);
  /* Font Weigh */
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
  --ultra-black: 950;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: var(--semi-bold);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body * {
  max-width: 1440px;
}

button {
  border-radius: 30px;
  border: 0px;
  /*x-offset y-offset blur colour */
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--huddle-pink);
}
.row {
  display: flex;
  flex-flow: row nowrap;
}
.column {
  display: flex;
  flex-flow: column nowrap;
}
.header-container {
  padding: 3rem 4.5rem;
  margin-bottom: 4.8rem;
  display: flex;
  flex-flow: column wrap;
  background-color: var(--huddle-verypale-cyan);
  background-image: url(../images/bg-hero-desktop.svg);
}

.header-container > .row:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 4rem;
  padding-right: 3rem;
}
.header-container > .row:first-of-type > .column-left {
  width: 70%;
  /* height: 4rem; */
  display: flex;
  align-items: center;
}
.header-container > .row:first-of-type > .column-left img {
  height: 67%;
}
.header-container > .row:first-of-type > .column-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.header-container > .row:first-of-type button {
  height: 3rem;
  width: 13rem;
  color: var(--huddle-dark-blue);
  background-color: var(--huddle-white);
  font-size: 14px;
  font-weight: var(--semi-bold);
}
.header-container > .row:first-of-type button:hover {
  color: var(--hudele-grayish-blue);
}
.header-container > .row:nth-of-type(2) {
  /* padding: 0 1rem; */
  height: 32rem;
}
.header-container > .row:nth-of-type(2) .column-left {
  width: 42%;
  padding-right: 1.6rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  color: var(--huddle-dark-blue);
}
.header-container > .row:nth-of-type(2) .column-left h2 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
.header-container > .row:nth-of-type(2) .column-left p {
  margin: 1.6rem 0;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.header-container > .row:nth-of-type(2) .column-left button {
  margin-top: 0.6rem;
  color: var(--huddle-white);
  font-size: 0.9rem;
  height: 3.5rem;
  width: 18rem;
}
.header-container > .row:nth-of-type(2) .column-right {
  width: 54%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.header-container > .row:nth-of-type(2) img {
  height: 97%;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
article {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 1.3rem 2rem;
  padding: 3.5rem 2.2rem;
  padding-left: 8rem;
  border-radius: 15px;
  /*x-offset y-offset blur colour */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.article-text {
  width: 48%;
  /* padding: 2rem; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.article-text h3 {
  font-size: 1.8rem;
  margin-bottom: 0;
  color: var(--huddle-dark-blue);
}
.article-text p {
  width: 32rem;
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: var(--hudele-grayish-blue);
}
article img {
  width: 38%;
}
.started-window {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -10rem;
  width: 50rem;
  height: 18rem;
  /* padding: 1.5rem; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: var(--huddle-white);
}
.started-window p {
  color: var(--huddle-dark-blue);
  font-size: 2rem;
  font-weight: var(--semi-bold);
  margin-bottom: 2.6rem;
}
.started-window button {
  border-radius: 40px;
  border: 0px;
  background-color: var(--huddle-pink);
  color: var(--huddle-white);
  font-size: 1.2rem;
  font-weight: var(--semi-bold);
  /*x-offset y-offset blur colour */
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.3);
  height: 5rem;
  width: 25.5rem;
}

.start-button:hover {
  background-color: var(--huddle-bright-pink);
}
/* 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
 */
