@import url(./footer.css);
@import url(./mq-740px.css);
* {
  box-sizing: border-box;
}
:root {
  /* Color */
  --huddle-pink: hsl(322, 100%, 66%);
  --huddle-verypale-cyan: hsl(193, 100%, 96%);
  --hudele-grayish-blue: hsl(208, 11%, 55%);
  --huddle-white: hsl(0, 0%, 100%);
  --huddle-dark-blue: hsl(192, 100%, 9%);
  /* Font Weigh */
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
  --ultra-black: 950;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: var(--semi-bold);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body * {
  max-width: 1440px;
}

button {
  border-radius: 30px;
  border: 0px;
  /*x-offset y-offset blur colour */
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
}
.row {
  display: flex;
  flex-flow: row nowrap;
}
.column {
  display: flex;
  flex-flow: column nowrap;
}
.header-container {
  padding: 3rem 4.5rem;
  display: flex;
  flex-flow: column wrap;
  background-color: var(--huddle-verypale-cyan);
  background-image: url(../images/bg-hero-desktop.svg);
}

.header-container > .row:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 4rem;
  padding-right: 3rem;
}
.header-container > .row:first-of-type > .column-left {
  width: 70%;
  /* height: 4rem; */
  display: flex;
  align-items: center;
}
.header-container > .row:first-of-type > .column-left img {
  height: 67%;
}
.header-container > .row:first-of-type > .column-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.header-container > .row:first-of-type button {
  height: 3rem;
  width: 13rem;
  color: var(--huddle-dark-blue);
  background-color: var(--huddle-white);
  font-size: 14px;
  font-weight: var(--semi-bold);
}
.header-container > .row:nth-of-type(2) {
  /* padding: 0 1rem; */
  height: 32rem;
}
.header-container > .row:nth-of-type(2) .column-left {
  width: 42%;
  padding-right: 1.6rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  color: var(--huddle-dark-blue);
}
.header-container > .row:nth-of-type(2) .column-left h2 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
.header-container > .row:nth-of-type(2) .column-left p {
  margin: 1.6rem 0;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.header-container > .row:nth-of-type(2) .column-left button {
  margin-top: 0.6rem;
  background-color: var(--huddle-pink);
  color: var(--huddle-white);
  font-size: 0.9rem;
  height: 3.5rem;
  width: 18rem;
}
.header-container > .row:nth-of-type(2) .column-right {
  width: 54%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.header-container > .row:nth-of-type(2) img {
  height: 97%;
}

/* 
.header-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container > div:nth-of-type(1) {
  width: 70%;
  height: 4rem;
}
.header-container > div:nth-of-type(1) > img {
  width: 20%;
}
.header-container > div:nth-of-type(2) {
  max-width: 30%;
}
 */
/* 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
 */
